// Colors
$clr0: #fbbc04;
$clr1: #ccff90;
$clr2: #293241;
$clr3: #cbf0f8;
$clr4: #aecbfa;
$clr5: #696969;
$clr6: #f1f0f0;

$navHeight: 65px;

// Breakpoints
$mobile-breakpoint: 600px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 900px;
$wide-breakpoint: 1080px;